{% extends 'Demo/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Add course
{% endblock %}

{% block body_block %}
    {% if added %}
    <strong>New course added!</strong>
    <a href="{% url 'Demo:index' %}">Back to homepage.</a><br />
    {% endif %}
    <form id="course_form" method="post" action="{% url 'Demo:add_course' %}"
    enctype="multipart/form-data">

    {% csrf_token %}

    <!-- Display each form -->
    {{ form.as_p }}
    <!-- Provide a button to click to submit the form. -->

    <input type="submit" name="submit" value="Add new course" />
    </form>

{% endblock %}
