{% extends 'Demo/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Homepage
{% endblock %}

{% block body_block %}
{% if user.is_authenticated %}
{{ user.username }}
{{ user.is_staff }}
<br />
{% endif%}
<a href="{% url 'Demo:register' %}">Go to the Registration page.</a><br />
<a href="{% url 'Demo:login' %}">Go to the login page.</a><br />
<a href="{% url 'Demo:add_course' %}">Add a new course.</a><br />
<a href="{% url 'Demo:add_assignment' %}">Add a new assignment.</a><br />
<a href="{% url 'Demo:logout' %}">Log out.</a><br />
<hr />
<a href="/admin/">Go to the administration page.</a><br />
{% endblock %}
